/*GENERAL SETTINGS */


@charset "UTF-8";

:root {
	--main-color: #A8BF84;
	--secondary-color: #95A67B;
	--light-color: #CCD9B8;
}

body {
padding:0;
margin:0;
background-color: var(--main-color);
background:url("../img/background-green-fix.jpg");
height:100%;
font-family: 'M PLUS Rounded 1c', sans-serif;
}


h1{
	font-weight: 500;
}

h2{
font-weight: 400;	
}

p{
font-weight: 300;
}




button{
	padding: 5px 10px;
	font-size:20px;
	border-radius: 3px;
	text-decoration: none;
	background-color: black;
	color:white;
}

button:hover{
	cursor:pointer;
	background-color: green;
	transition: 1s ease;
}



footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
}


/*CONTAINER A - LANDING PAGE*/
.conA{
	margin-left:auto;
	margin-right:auto;
	max-width: 1000px;
}

.conA, #karuta-logo {
	height:250px;
	display:block;
	margin:auto;
	margin-top:100px;
}

.conA-alt{
	display:none;
}

/*MEDIA QUERIES*/

@media (max-width:1000px) {
	.conA{
		display:none;
	}

	.conA-alt{
		display:block;
	}

	.conA-alt p{
		font-size:30px;
		margin:20px;
		padding:10px;
		margin-top:30px;
		background-color: white;
	}

	.conA-alt #karuta-logo{
		height:200px;
	}
}
