/*GENERAL SETTINGS */


@charset "UTF-8";

:root {
	--main-color: #A8BF84;
	--secondary-color: #95A67B;
	--light-color: #CCD9B8;
}

body {
padding:0;
margin:0;
background-color: var(--main-color);
background:url("../img/background-green-fix.jpg");
height:100%;
font-family: 'M PLUS Rounded 1c', sans-serif;
}


h1{
	font-weight: 500;
}

h2{
font-weight: 400;	
}

p{
font-weight: 300;
}

button{
	position:absolute;
	padding: 5px 10px;
	font-size:20px;
	font-weight: 400;
	border-radius: 6px;
	border:none;
	text-decoration: none;
	background-color: white;
	color:black;
}

button:hover{
	cursor:pointer;
	background-color: var(--secondary-color);
	background-color: #95A67B;
	transition: 0.5s ease;
}



footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
}


/*CONTAINER A - LANDING PAGE*/
.conA, .conB{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	max-width: 1000px;
	border: solid 1px red;
	height:85vh;
	padding:10px;	
}

.conA #karuta-logo {
	height:250px;
	display:block;
	margin:auto;
	margin-top:100px;
}

.conA-alt{
	display:none;
}

.conA #button-start{
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}

.conB{
	display:none;
}


.conB #karuta-logo{
	height:150px;
	margin-top:60px;
		display:block;
	margin:auto;	
}

.conB button{
	bottom:0;
	right:0;
}

.conB #quiz{
	padding:20px;
}


.conB #board-left{
width:50%;
float:left;
text-align: center;
height:100%;
background-color: blue;
}

.conB #board-left img {
	height:500px;
	margin:20px;
	box-shadow: 1px 2px 3px black;
}

.conB #board-right{
display: inline-block;
text-align: center;	
width:50%;
float:right;
background-color: green;
}

.conB #board-right img {
	height:250px;
	margin:10px;
	box-shadow: 1px 2px 3px black;
}

.conB #board-right img:hover {
	cursor:pointer;
}

/*MEDIA QUERIES*/

@media (max-width:1000px) {
	.conA{
		display:none;
	}

	.conA-alt{
		display:block;
	}

	.conA-alt p{
		font-size:30px;
		margin:20px;
		padding:10px;
		margin-top:30px;
		background-color: white;
	}

	.conA-alt #karuta-logo{
		height:200px;
	}
}
