

body {
padding:0;
margin:0;
background:url("../img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height:100vh;
}

.conA{
	margin-left:auto;
	margin-right:auto;
	max-width: 1000px;
}

